*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

.site-header{
    background-color: #2c3e50;
    padding: 1rem;

    /* Ama bo heshtnaway navbar bakar det katek scroll dahenita xwarawa */
    position: sticky;
    top: 0;

    z-index: 1;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 1200px;
    margin: 0 auto;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-menu a{
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-menu a::before {
  margin-left: auto;
}

.nav-menu a::after, .nav-menu a::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #1abc9c;
  display: block;
  transition: 0.5s;
  color: #1abc9c;
}

.nav-menu a:hover::after, button:hover::before {
  width: 100%;
  color: #1abc9c;
}



.logo img{
    height: 40px;
}

.hero{
    background: url("background.png") center/cover;
    height: 70vh;

    position: relative;
}

.shape{
    position: absolute;
    left: 20%;
    opacity: 50%;
    bottom: 52%;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.hero-content h1{
    color: #1abc9c;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p{
    color: #ecf0f1;
    font-size: 1.2rem;
}

.main{
    padding: 4rem 0;
    background-color: #ecf0f1;
}

.main-container{
    display: flex;
    max-width: 1200px;

    /* ama bo henana nawarasti wenaya */
    margin: 0 auto;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    padding: 2rem;
}

.card img{
    width: 100%;
}

.card{
    flex: 1 1 300px;

    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-content{
    padding: 1.5rem;
}

.main-content h3{
    color: #2c3e50;
    margin-bottom: 1rem;
}

.main-content p{
    color: #7f8c8d;
    font-size: 1rem;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.comments{
    background-color: #fff;
    padding: 4rem 2rem;
}

.comments-card img{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
}

.comments-container{
    display:flex;
    gap: 2rem;
    padding: 1rem 0;
}

.comments-card{
    min-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.comments-card h4{
    color: #1abc9c;
    margin-bottom: 0.5rem;
}
.comments-card p{
    color: #7f8c8d;
    font-size: 0.9rem;
}

@media (max-width: 1308px){
    .comments-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }

    .comments-card{
        width: calc(25% - 20px);
        max-width: none;
    }
}


@media (max-width: 768px){
    .comments-card{
        width: 100%;
    }
}

.site-footer{
    background-color: #2c3e50;
    padding: 3rem 2rem;
}

.footer-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 4rem;
}

.footer-card{
    flex: 1 1 250px;
}

.footer-card h3{
    margin-bottom: 1rem;
    color: #1abc9c;
}

.footer-card p{
    color: #7f8c8d;
    font-size: 0.9rem;
}