/* For using another font and setting name */
@font-face {
    font-family: "AMIN";
    src: url("./assets/fonts/Poppins-Bold.ttf");
}

/* Varriable */
:root{
    --clr-dark: #222831;
    --clr-light: #eeeeee;
    --clr-bronze: #00adb5;
    --clr-glass: #393e467f;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "AMIN", serif;

    scroll-behavior: smooth;
}

body{
    background-color: var(--clr-dark);
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
    margin: 2rem auto;
}

.logo{
    color: var(--clr-bronze);
    font-size: 25px;
}

.nav-items{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-items a{
    text-decoration: none;
    color: var(--clr-light);
    transition: 0.1s ease;
}

.nav-items a:hover{
    color: var(--clr-bronze);
}

hr{
    opacity: 10%;
}

/* Hero Section */
/* on the hero we just moving cpntainer to center. */
.hero{
    display: flex;
    max-width: 1200px;
    margin: 5rem auto;
    justify-content: space-between;
    align-items: center;
    
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name{
    font-size: 3rem;
    color: var(--clr-light);
}

.title{
    font-size: 4rem;
    color: var(--clr-bronze);
}

.arrow{
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);

}

.hero-btn{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.hireme{
    background-color: var(--clr-bronze);
    color: var(--clr-light);
    text-decoration: none;
    border-radius: 24px;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    transition: 0.1s ease-in-out;
}

.hireme:hover{
    background-color: var(--clr-glass);
    color: var(--clr-bronze);
}

.cv{
    text-decoration: none;
    background-color: var(--clr-glass);
    color: var(--clr-light);
    border-radius: 24px;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    transition: 0.1s ease-in-out;
}
.cv:hover{
    background-color: var(--clr-bronze);
    /* color: var(--clr-light); */
}

.aboutme{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 5rem auto;
    gap: 7rem;
}

.aboutme-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about{
    color: var(--clr-light);
    font-size: 3rem;
}
.me{
    color: var(--clr-bronze);
}
.paragraph{
    color: var(--clr-light);
    text-align: justify;
    opacity: 70%;
}
.lightbulb{
    position: absolute;
    transform: translateX(56rem) translateY(-4rem);
}

.works-container{
    max-width: 1200px;
    margin: 5rem auto;
    background: url("./assets/svg/background.svg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.works{
    background: url(./assets/svg/background.svg);
    padding: 10rem;
    margin: 5rem 0;
}

.works-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin: 5rem auto;
    max-width: 1200px;
}

.works-title{
    display: flex;
    align-items: center;

    justify-content: left;
    gap: 10px;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.works-myrecent{
    color: var(--clr-light);
}
.works-works{
    color: var(--clr-bronze);
}

.works ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.works li{
    border-radius: 16px;
    background-color: var(--clr-glass);
    backdrop-filter: blur(4px);
    padding: 1rem 4rem;
}

.works li img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.2s;
}

.works img:hover{
    transform: scale(1.5);
}

.contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.contactme-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.contactme-contact{
    color: var(--clr-light);
}

.contactme-me{
    color: var(--clr-bronze);
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
}

.contact h3,
.contact a{
    color: var(--clr-light);
    text-decoration: none;
}

.contactme-emailandphone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.socialmedia a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--clr-glass);
    backdrop-filter: blur(4px);
    padding: 1rem;
}

.socialmedia img{
    width: 24px;
    height: 24px;
}

.socialmedia a:hover{
    background-color: var(--clr-bronze);
}

footer{
    color: var(--clr-light);
    text-align: center;
    padding: 2rem;
}

@media (max-width: 1023px){
    header{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .hero-image{
        width: 400px;
    }

    .arrow{
        display: none;
    }

    .name,
    .title{
        font-size: 2rem;
    }

    .aboutme{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }

    .aboutme-content{
        align-items: center;
        margin: 0 5rem;
        gap: 1rem;
    }

    .about-about,
    .about-me{
        font-size: 2rem;
    }

    .aboutme-img{
        width: 400px;
    }

    .lightbulb{
        display: none;
    }

    .works{
        padding: 0;
    }

    .works-content{
        padding: 5rem 0rem;
        gap: 3rem;
    }

    .works-title{
        margin-left: 1rem;
    }

    .works-myrecent,
    .works-works{
        font-size: 2rem;
    }

    .works ul{
        flex-direction: column;
        gap: 1rem;
    }

    .contactme{
        margin: 10rem 5rem;
        gap: 2rem;
    }

    .contactme-contact,
    .contactme-me{
        font-size: 2rem;
    }

    .contact{
        flex-direction: column;
        gap: 1rem;
        margin-right: 0;
    }
}