*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    inline-size: 1.8;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    font-family: sans-serif;
    margin:0;
    padding: 0;
}

header{
    background: #228B22;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2, h3{
    color: #333;
}

header h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p{
    font-size: 1em;
    margin-bottom: 10px;
}   

nav{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li{
    margin: 0 15px;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover{
    text-decoration: underline;
    color: #228B22;
}

main{
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    text-align: right;
    border-radius: 7px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.paper1{
    margin-bottom: 20px;
}

.paper2{
    margin-bottom: 20px;
}

.paper3{
    margin-bottom: 20px;
}

.rasm{
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

th, td{
    padding: 10px;
    border: 1px solid #ddd;
}

th{
    background-color:#228B22;
    color: #fff;
}

tr:nth-child(even){
    background-color: #ddd;
}

footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}